#backer{
	padding: 10px;
	border-radius: 2em;
	background-image: url('../img/innerbacker.png');
	margin-top: 50px;
}

#inner{
	padding: 5px;
	border-radius: 1em;
	background-color: #ffe;
}

h1{
	text-align: center;
}

body{
	background-image: url('../img/background.png')
}
